
/* menubar styles */
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
nav > .nav-container ul{
    display:flex;
    list-style: none;
    gap:20px

}